<h1>Create a Recipe</h1>


<form action="/recipes" method="POST">
<p>
	<input type="text" name="name">
</p>

<p>
	<input type="text" name="ingredients">

</p>

<p>
	<input type="text" name="cooking_time">

</p>




<input type="submit" value="submit">
	





</form>